@using CoreLayer.Enums
@model CreateMatchVM

<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 14px;
    }
</style>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Match/</span> Create</h4>

    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Match</h5>
                    <small class="text-muted float-end">Create</small>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="TournamentId">Tournament</label>
                            <select asp-for="TournamentId" asp-items="ViewBag.Tournaments" class="js-example-basic-single form-control">
                                <option value="">Select Tournament</option>
                            </select>
                            <span class="text-danger" asp-validation-for="TournamentId"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="Description">Home Team</label>
                            <select  asp-for="HomeTeamId" asp-items="ViewBag.Teams" style="width:100%; line-height:none;" class="js-example-basic-single form-control">
                                <option value="">Select Home Team</option>
                            </select>
                            <span class="text-danger" asp-validation-for="HomeTeamId"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="HomeScore">Home Score</label>
                            <input type="Number" min="0" value="0" class="form-control" id="HomeScore" asp-for="HomeScore" />
                            <span class="text-danger" asp-validation-for="HomeScore"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="AwayTeamId">Away Team</label>
                            <select asp-for="AwayTeamId" asp-items="ViewBag.Teams" style="width:100%; line-height:none;" class="js-example-basic-single form-control">
                                <option value="">Select Away Team</option>
                            </select>
                            <span class="text-danger" asp-validation-for="AwayTeamId"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="AwayScore">Away Score</label>
                            <input type="Number" min="0" value="0" class="form-control" id="AwayScore" asp-for="AwayScore" />
                            <span class="text-danger" asp-validation-for="AwayScore"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="Location">Location</label>
                            <input type="text" class="form-control" id="Location" placeholder="ACME Inc." asp-for="Location" />
                            <span class="text-danger" asp-validation-for="Location"></span>
                        </div>


                        <div class="mb-3">
                            <label class="form-label" for="MatchDate">Match Date</label>
                            <input type="datetime-local" class="form-control" id="MatchDate" asp-for="MatchDate" />
                            <span class="text-danger" asp-validation-for="MatchDate"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="Description">Match Status</label>
                            <select asp-for="MatchStatus" style="width:100%;" class="js-example-basic-single form-control">
                                <option value="">Select Match Status</option>
                                @foreach (var status in Enum.GetValues(typeof(MatchStatus)))
                                {
                                    <option value="@status">@status</option>
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="MatchStatus"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="Price">Ticket Price</label>
                            <input type="number" min="0" class="form-control" id="Price" value="0" placeholder="0" asp-for="TicketPrice" />
                            <span class="text-danger" asp-validation-for="TicketPrice"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="AvailableTickets">Available Tickets</label>
                            <input type="number" min="0" class="form-control" id="AvailableTickets" value="0" placeholder="0." asp-for="AvailableTickets" />
                            <span class="text-danger" asp-validation-for="AvailableTickets"></span>
                        </div>
                        

                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>
